body {
  background-color: darkslategray;
  color: #bbbbbb;
}
h1, p {
  text-align: center;
}
h1 {
  font-size: 60px;
  text-decoration: underline;
}
p {
  font-size: 200%;
  margin-top: -40px;
}
#startGame {
  font-size: 35px;
  border-radius: 12px;
  transition-duration: 0.4s;
  box-shadow: 8px 8px 8px 0 rgba(0,0,0,0.2), 12px 12px 12px 0 rgba(0,0,0,0.19);
}
#startGame:hover {
  background-color: darkslategray;
  color: white;
}
form, #startGame{
  margin-left: 50px;
  display: inline-block;
}
form {
  font-size: 22px;
}
h3 {
  margin-left: 50px;
  font-size: 30px;
}
#response {
  margin-left: 30px;
}
.block {
  width: 150px;
  height: 150px;
  margin: 10px 20px;
  border: 1px solid black;
  float: left;
}
#blocks {
  width: 800px;
}
.choice {
  margin-top: 45px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
